<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TTalk</title>
    
        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@200;400;700&display=swap" rel="stylesheet">
    
        <link rel="stylesheet" href="./styles/main.css">
    </head>

<body>
    <header>
        <div class="logo">
            <a href="#"><img src="./images/chat-heart.svg" alt="heart image" width="50"></a>
            <h1>TTalk</h1>
        </div>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>